/* App.css */

body {
    background-image: url('assets/background.png');
    background-size: contain;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    text-align: center;

}

.content {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}