
body {
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  gap: 0;
  padding: 0;
}
.header {
  top: 0;
  position: sticky;
}
/* ✅ CONTENT STYLES */
.content {
  margin: 20px 0;
  padding: 20px 32px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
