.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.message {
  text-align: center;
  color: crimson;
  font-size: 14px;
  margin: 10px 0;
}
.wrapper {
  margin: 5% 0;
  width: 90%;
  max-width: 450px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 24px;
  position: relative;

  background: white;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: none;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  
}

.form-box {
  width: 100%;
  
}

.close-btn {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.close-btn:hover {
  color: #029cea;
}

.input-box {
  display: flex;
  flex-direction: column;
}
.input-box label {
  font-size: 18px;
  display: block;
  color: #5e5d5d;
  margin-bottom: 0.5rem;
}

.input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 20px 40px 20px 20px;
}


.input-box input::placeholder {
  color: #5e5d5d;
}
.modal form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box .icon {
  position: absolute;
  right: 15px;
  font-size: 18px;
  color: #333;
}

.modal form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  align-items: center;
  margin: 10px 0 15px;
}

.remember-forgot label input {
  accent-color: #333;
  margin-right: 4px;
}

.remember-forgot label {
  color: #333;
  text-decoration: none;
}

.remember-forgot a {
  color: #333;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.modal form button {
  width: 100%;
  height: 38px;
  background: linear-gradient(135deg, #029cea, #629af5);
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(130, 190, 242, 0.1);
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  color: white;
}

.modal form button:hover {
  transform: scale(1.05);
}

.modal form .login-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.login-link p {
  color: #333;
  text-decoration: none;
  cursor: default;
}

.login-link p span {
  color: #029cea;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

.login-link p span:hover {
  text-decoration: underline;
}
